 @{
    ViewData["Title"] = "Position";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}

        <!-- Card Body -->
        <div class="card-body">
        		<div>               
        			
        		</div>
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Table Active Position TAD</h6>
                        </div>
                        <div class="card-body">
                            <div class="py-2">
                            </div>
                            <div class="table-responsive px-2">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table class="table table-bordered table-sm nowrap" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>ID Position</th>
                                            <th>Position Name</th>
                                            <th>Personnel ID</th>
                                            <th>Assignment No</th>
                                            <th>Personnel Name</th>
                                            <th>Direct Supervisor</th>
                                            <th>Supervisor Name</th>
                                            <th>Direktorat</th>
                                            <th>Division</th>
                                            <th>Sub Division</th>
                                            <th>Departement</th>
                                            <th>Section</th>
                                            <th>ID Company</th>
                                            <th>PersArea</th>
                                            <th>Pers Sub Area</th>
                                            <th>Cost Center</th>
                                            <th>Work Schedule</th>
                                            <th>Grade</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                      @foreach(var pos in Model)
                                      {
                                        <tr>
                                            <td></td>
                                            <td>@pos.Position.id_position</td>
                                            <td>@pos.Position.PosTitle</td>
                                            <td>@pos.Assignment.id_personnel</td> 
                                            <td>@pos.Assignment.AO_No</td>
                                            <td>@pos.TKJP.Nama</td>
                                            <td>@pos.Position.DirectPos_ID</td>
                                            <td>@pos.DirectPos.Name</td>
                                            <td>@pos.Position.Direktorat</td>
                                            <td>@pos.Position.Division</td>
                                            <td>@pos.Position.Sub_division</td>
                                            <td>@pos.Position.Department</td>
                                            <td>@pos.Position.Section</td>
                                            <td>@pos.Position.Company_ID</td>
                                            <td>@pos.Position.PersArea_ID</td>
                                            <td>@pos.Position.PersSubArea_ID</td>
                                            <td>@pos.Position.CostCenter</td>
                                            <td>@pos.Position.Work_Schedule</td>
                                            <td>@pos.Position.Grade</td>
                                        </tr>
                                      }                       
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<style type="text/css">
    .my-actions { margin: 0 2em; }
    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }

    .right-gap {
      margin-right: auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {

      var positiontable = $('#dataTable').DataTable({
        scrollX:true,
        ordering : true,
        autoWidth : true,
        fixedColumns: {
            left: 2,
        },
        columnDefs: [
            {
                className: 'select-checkbox',
                targets: 0
            },
            { "targets": 1, visible: true}, //id
            { "targets": 2, visible: true}, //postitle
            { "targets": 3, visible: true}, //noperson
            { "targets": 4, visible: true}, //id_ao
            { "targets": 5, visible: true}, //personame
            { "targets": 6 ,visible: false}, //dirId
            { "targets": 7 ,visible:false}, //dirName
            { "targets": 8, visible: true}, //direc
            { "targets": 9, visible: true}, //divisi
            { "targets": 10 ,visible:false}, //sub
            { "targets": 11, visible: true}, //dept
            { "targets": 12, visible: true}, //sect
            { "targets": 13 ,visible: false}, //dirId
            { "targets": 14 ,visible:false}, //dirName
            { "targets": 15, visible: true}, //direc
            { "targets": 16, visible: true}, //divisi
            { "targets": 17 ,visible:false}, //sub
            { "targets": 18, visible: true}, //dept
          ],
        select: {
              style: 'single' // Enable multi-row selection (can also use 'single')
        },
        buttons: [ 
            {
                extend: 'colvis',
                collectionLayout: 'fixed columns',
                collectionTitle: 'Column visibility control'
            },
            'excel',
            {
                extend: 'collection',
                text: 'Actions',
                buttons: [
                    {
                        text: 'Add',
                        action: function ( e, dt, node, config ) {
                            //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                            var rows = positiontable.rows( { selected: true } ).data().toArray();
                            //console.log( rows ); // array of selected rows (each row is an array of data)
                            var ids = rows.map(function(x) {
                                return x[1];
                            });
                            Swal.fire({
                              title: 'Do you want to Add Data?',
                              showCancelButton: true,
                            }).then((result) => {
                              /* Read more about isConfirmed, isDenied below */
                              if (result.isConfirmed) {
                                window.location.href = '<?php echo base_url()?>TAD/TADPosition/add/'+ids
                              } else if (result.isDenied) {
                                Swal.close()
                              }
                            })
                        }
                    },
                    {
                        text: 'Edit',
                        action: function ( e, dt, node, config ) {
                            //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                            var rows = positiontable.rows( { selected: true } ).data().toArray();
                            //console.log( rows ); // array of selected rows (each row is an array of data)
                            var ids = rows.map(function(x) {
                                return x[1];
                            });
                            Swal.fire({
                              title: 'Do you want to edit?',
                              showCancelButton: true,
                            }).then((result) => {
                              /* Read more about isConfirmed, isDenied below */
                              if (result.isConfirmed) {
                                window.location.href = '<?php echo base_url()?>TAD/TADPosition/edit/'+ids
                              } else if (result.isDenied) {
                                Swal.close()
                              }
                            })
                        }
                    },
                    
                    {
                        text: 'Delete',
                        action: function ( e, dt, node, config ) {
                            //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                            var rows = positiontable.rows( { selected: true } ).data().toArray();
                            //console.log( rows ); // array of selected rows (each row is an array of data)
                            var ids = rows.map(function(x) {
                                return x[1];
                            });
                            Swal.fire({
                              title: 'Do you want to delete?',
                              showDenyButton: true,
                              showCancelButton: true,
                              confirmButtonText: 'Yes, Delete',
                              denyButtonText: `No`,
                            }).then((result) => {
                              /* Read more about isConfirmed, isDenied below */
                              if (result.isConfirmed) {
                                window.location.href = '<?php echo base_url()?>TAD/TADPosition/delete/'+ids
                              } else if (result.isDenied) {
                                Swal.close()
                              }
                            })
                        }
                    },

                ]
            }
        ],
        dom: 'Bfrtip',
    });
      });
    
</script>        
        

<script src="https://cdn.datatables.net/filters/1.6.5/js/dataTables.filters.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>        
       