@{
    ViewData["Title"] = "Assignment Order";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
<h1>@ViewData["Title"]</h1>


        <!-- Card Body -->
        <div class="card-body">
        		<div>               
        			
        		</div>
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Table Assignment Order</h6>
                        </div>
                        <div class="card-body">
                            <div class="py-2">
                            </div>
                            <div class="table-responsive px-2">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table class="table table-bordered table-sm nowrap" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th class="text-center">No</th> 
                                            <th class="text-center">AO Number</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">ID Contractor</th>
                                            <th class="text-center">ID MRF</th>
                                            <th class="text-center">ID Position</th>
                                            <th class="text-center">ID Personnel</th>
                                            <th class="text-center">Personnel Salary</th>
                                            <th class="text-center">Personnel Billing</th>
                                            <th class="text-center">Personel Category</th>
                                            <th class="text-center">Start Contract</th>
                                            <th class="text-center">End Contract</th>
                                            <th class="text-center">Point of Hire</th>
                                            <th class="text-center">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                   @foreach( var ao in Model) 
                                   {
                                        <tr>
                                            <td></td>
                                            <td>@ao.AO_No</td>
                                            <td>@ao.status</td>
                                            <td>@ao.contractor_id</td>
                                            <td>@ao.mrf_id</td>
                                            <td>@ao.PositionID</td>
                                            <td>@ao.id_personnel</td>
                                            <td>@ao.personnel_salary</td>
                                            <td>@ao.personnel_billing</td>
                                            <td>@ao.personnel_category</td>
                                            <td>@ao.contract_start</td>
                                            <td>@ao.contract_end</td>
                                            <td>@ao.point_of_hire</td>

                                            <td class="text-center">
                                                <a class="btn btn-info btn-sm" href="#" onclick="showApprove(@ao.id)">View</a>
                                            </td>
                                        </tr>
                                   }                           
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

      var aprAOtable = $('#dataTable').DataTable({
        scrollX:true,
        ordering : true,
        autoWidth : true,
        fixedColumns: {
            left: 2,
        },
        columnDefs: [
            {
                className: 'select-checkbox',
                targets: 0
            },
            { "targets": 1, visible: true}, //status
            { "targets": 2, visible: true}, //subject
            { "targets": 3, visible: true}, //type
            { "targets": 4, visible: true}, //code OCF
            { "targets": 5, visible: false}, //position title
            { "targets": 6 ,visible: false}, //headcount
            { "targets": 7 ,visible:false}, //direct supervisor
            { "targets": 8, visible: false}, //position title
            { "targets": 9 ,visible: false}, //headcount
            { "targets": 10 ,visible:false}, //direct supervisor
            { "targets": 11, visible: false}, //position title
            { "targets": 12 ,visible: false}, //headcount
            // { "targets": 13 ,visible:false}, //direct supervisor
          ],
        select: {
              style: 'single' // Enable multi-row selection (can also use 'single')
        },
        buttons: [ 
            {
                extend: 'colvis',
                collectionLayout: 'fixed columns',
                collectionTitle: 'Column visibility control'
            },
            'excel',
            {
                // extend: 'collection',
                buttons: [
                    {
                        text: 'View',
                        action: function ( e, dt, node, config ) {
                            //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                            var rows = aprAOtable.rows( { selected: true } ).data().toArray();
                            //console.log( rows ); // array of selected rows (each row is an array of data)
                            var ids = rows.map(function(x) {
                                return x[12];
                            });
                            showA(ids)
                        }
                    },
                   
                    
                    ]
            }
        ],
        dom: 'Bfrtip',
    });
      });
    
</script>
<script type="text/javascript">
   
    function showApprove() {
        
                     Swal.fire({
                       title: 'Assignment Order',
                       showConfirmButton: true,
                       customClass: {
                         actions: 'my-actions',
                         confirmButton: 'order-2 btn-success',

                       },
                       html: '<div class="card my-3 text-left">'+
                       '<div class="card-body row mt-4">'+
                      '<div class="col-md-12 col-xl-12 mb-4">'+
                        '<h5 class="font-weight-bold">ASSIGNMENT ORDER</h5>'+
                        '<div class="col-md-12 col-xl-12">'+
                          '<label class="float-right font-weight-bold" style="border: 3px solid black"> CONFIDENTIAL </label>'+
                        '</div>'+
                        '<hr>'+
                      '</div>'+
                      '<!-- Row 1 -->'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-5 col-xl-4">Date </div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-6 col-xl-7"></div>`+
                      '</div>'+
                      '<!-- Row 2 -->'+
                    '<div class="col-md-12 col-xl-12 row">'+
                       '<div class="col-md-5 col-xl-4">Contract No./Period </div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-6 col-xl-7" id="rvCrNO"></div>`+
                      '</div>'+
                      '<!-- Row 3 -->'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-5 col-xl-4">Contractor</div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-6 col-xl-7" id="rvCrName"></div>`+
                      '</div>'+
                      '<div class="col-xl-6"></div>'+
                      '<!-- Row 4 -->'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-5 col-xl-4">Assignment Order No</div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-6 col-xl-7" id="rvAO"></div>`+
                      '</div>'+
                      '<div class="col-xl-6"></div>'+
                      '<!-- Row 4 -->'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-5 col-xl-4">MRF No</div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-6 col-xl-7" id="rvMRF"></div>`+
                      '</div>'+
                      '<div class="col-xl-6 mb-2"></div>'+
                      '<!-- Separator -->'+
                      '<div class="col-md-12 col-xl-12 mt-4 mb-2">'+
                        `<h6>In accordance with the terms and conditions on Contract No. <b id="rvcrNo"></b> between <b id="rvcrComp"></b>, ("COMPANY") and <b id="rvcrName"></b> ("CONTRACTOR"), this Assignment Order authorizes CONTRACTOR to supply CONTRACTOR'S Personnel to perform the Work as describe fully in Exhibit B of the Contract: </h6>`+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-12 col-xl-12">'+
                          '<table class="table table-sm table-bordered" style="width:100%" style="text-align: center">'+
                            '<tr>'+
                              '<th>Title</th>'+
                              '<th>Schedule of Service</th>'+
                              '<th>Name</th>'+
                              '<th>Point Of Hire</th>'+
                              '<th>Period</th>'+
                              '<th>Start Date for Services</th>'+
                              '<th>Completion Date of Services</th>'+
                            '</tr>'+
                            '<tr>'+
                              `<td id="rvTitle"></td>`+
                              `<td id="rvWS"></td>`+
                              `<td id="rvPersonnel"></td>`+
                              `<td id="rvPOH"></td>`+
                              `<td id="rvPeriod"></td>`+
                              `<td id="rvStart"></td>`+
                              `<td id="rvEnd"></td>`+
                            '</tr>'+
                          '</table>'+
                        '</div>'+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 mt-4 mb-2">'+
                        '<h6 style>In no case shall CONTRACTOR be compensated for any costs incurred after the Completion date, unless as is otherwise stated in the Contract and / or in this Assignment Order.</h6>'+
                        '<hr>'+
                      '</div>'+
                      '<!-- Separator -->'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        `<div class="col-md-6 col-xl-3">Company's Operation Area</div>`+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-5 col-xl-8" id="rvPAPSA"></div>`+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        `<div class="col-md-6 col-xl-3">Company's Supervisor</div>`+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-5 col-xl-8" id="rvSPV"></div>`+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-6 col-xl-3">Cost Center</div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-5 col-xl-8" id="rvCC"></div>`+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-6 col-xl-3">Personnel Classified/Category</div>'+
                        '<div class="col-md-1 col-xl-1">:</div>'+
                        `<div class="col-md-5 col-xl-8" id="rvPersCat"></div>`+
                      '</div>'+
                      '<div class="col-xl-6"></div>'+
                      '<!-- Separator -->'+
                      '<div class="col-md-12 col-xl-12 mt-4 mb-2">'+
                        '<h6>Information Budget</h6>'+
                        '<hr>'+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-12 col-xl-12">'+
                          '<table class="table table-sm table-bordered" style="width:100%" style="text-align: center">'+
                            '<tr>'+
                              '<th rowspan="2" class="text-center">Currency</th>'+
                              '<th>Billing Rate</th>'+
                              '<th rowspan="2">Gross Rate</th>'+
                              '<th>Service Fee</th>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>Gross Salary + BPJSTK 5.74% + Service Fee</td>'+
                              `<td>{Gross Salary + (BPJSTK 5.74%)} x <p id="crServFee"></p></td>`+
                            '</tr>'+
                            '<tr>'+
                              '<td>IDR/Month</td>'+
                              `<td id="rvBill"></td>`+
                              '<td id="rvGross"></td>'+
                              `<td id="rvServFee"></td>`+
                            '</tr>'+
                          '</table>'+
                        '</div>'+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 mt-4 mb-2">'+
                        '<h6 class="text-align-justify">Any question regarding commercial terms or Contract conditions should be referred to <b id="rvMgrHC">Jundan Nubarik</b> (Manager HCBP). <br> All invoices related to Service Provider under this Assignment Order must show the number on Contract and the Assignment Order as listed above, and shall be submitted in accordance with the terms of Contract. <br> COMPANY has accepted the above listed personnel as the CONTRACTORS Personnel to perform the Work hereunder. </h6>'+
                        '<hr>'+
                      '</div>'+
                      '<div class="col-md-12 col-xl-12 mt-4 mb-2">'+
                        '<h6>'+
                          '<b>This Assignment Order (AO) shall no longer be valid when either it has been completed on the date of service or a new AO under the same personnel name has been issued</b>'+
                        '</h6>'+
                        '<hr>'+
                      '</div>'+
                      '<br>'+
                      '<div class="col-md-12 col-xl-12 row">'+
                        '<div class="col-md-6 col-xl-6">'+
                          '<table style="width:120% text-align=center;">'+
                            '<tr>'+
                              '<td style="width:10%">Date</td>'+
                              '<td style="width:30%">: </td>'+
                              '<td></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td colspan="3">On Behalf of COMPANY</td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td colspan="3">'+
                                '<br>'+
                                '<br>'+
                                '<br>'+
                              '</td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td style="width:10%">By</td>'+
                              '<td style="width:10%">:</td>'+
                              '<td id="rvMgrHc"></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td style="width:10%">Title</td>'+
                              '<td style="width:10%">:</td>'+
                              '<td>Manager HCBP</td>'+
                            '</tr>'+
                          '</table>'+
                        '</div>'+
                        '<div class="col-md-6 col-xl-6">'+
                          '<table style="width:100%">'+
                            '<tr>'+
                              '<td style="width:10%">Date</td>'+
                              '<td style="width:30%">: </td>'+
                              '<td></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td colspan="3">On Behalf of CONTRACTOR</td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td colspan="3">'+
                                '<br>'+
                                '<br>'+
                                '<br>'+
                              '</td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td style="width:10%">By</td>'+
                              '<td style="width:10%">:</td>'+
                              '<td id="rvCrCEO"></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td style="width:10%">Title</td>'+
                              '<td style="width:10%">:</td>'+
                              '<td id="rvCrCEOPos">PRESIDEN DIREKTUR</td>'+
                            '</tr>'+
                          '</table>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '</div>',
                        width : 1200,
                        
                     })
                }
                
</script>

<script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>